---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div
    class="max-w-xl w-full mx-auto h-[calc(100vh_-_60px_-_4rem)] space-y-4 flex flex-col justify-center"
  >
    <h1 class="text-2xl">Hey, I&#39;m Alejandro Requejo.</h1>
    <p>
      A Software Engineer focusing on Frontend Development with React and
      I&#39;m passionate about testing.
    </p>
  </div>
</Layout>
