<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="A Software Engineer working as a Frontend Developer"
    />

    <title>Alejandro Requejo</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <main
      class="p-8 h-screen grid grid-cols-[1fr,minmax(auto,_700px),_1fr] items-center bg-slate-50 text-slate-800 font-mono"
    >
      <div class="col-start-2 col-end-3 text-3xl space-y-8">
        <p>Hey, I&#39;m Alejandro Requejo.</p>
        <p>
          I&#39;m a Software Engineer based in
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-green-700  via-amber-800 to-red-700 font-bold"
          >
            Mexico
          </span>
          working as a Frontend Developer with React and I&#39;m passionate about
          testing.
        </p>
      </div>
    </main>
  </body>
</html>
